header
  h1 Magic Grandmother's Book Shop
    .top-menu
      ul
        li
          a(href="/writer.html") I'm Writer
        li
          a(href="/") Home
      form(action="list.html")
        input(type="search" placeholder="Search")
        button(type="submit") Search