extends includes/layout.pug

block head
  - title='Home'

block content
  .index-bg
    .left
      .name BOOK SHOP
    .right
      .logo
        img(src='../assets/images/logo.png')
      ul.nav
        li
          a(href='writer.html')
            img(src='../assets/images/nav_icon01.png')
            p WRITER
        li 
          img(src='../assets/images/nav_icon02.png')
          p CART
        li
          img(src='../assets/images/nav_icon03.png')
          p READER
      .search
        a.icon(href='list.html')
          img(src='../assets/images/nav_icon04.png')
        input
