extends includes/layout.pug

block head
  - title='Home'

block content
  .index-bg
    .left
      .name BOOK SHOP
    .right
      .logo
        img(src='../assets/images/logo.png')
      ul.nav
        li
          img(src='../assets/images/nav_icon01.png')
          p WRITER
        li 
          img(src='../assets/images/nav_icon02.png')
          p CART
        li
          img(src='../assets/images/nav_icon03.png')
          p LOGIN
      .search
        .icon
          img(src='../assets/images/nav_icon04.png')
        input
