extends includes/layout.pug

block head
  - title='Home'

block content
  .content
    .tab
      h2 Hot 10
      ul
        li aaa
        li bbb
        li ccc
        li ddd
        li eee

    .tab
      h2 Top 10
      ul
        li 111
        li 222
        li 333
        li 444
        li 555
