extends includes/pages-layout.pug

block head
  - title='Writer'

block left
  .pages-title.writer2 Writer
  .upload
    .upload-file
      label(for="cover")
        span.title Book cover
        input(type="button" id="btn" value="Choose")
        span(id="text") No selected file
        input(type="file" id="cover")

    .upload-file
      label(for="preview")
        span.title Preview page
        input(type="button" id="btn" value="Choose")
        span(id="text") No selected file
        input(type="file" id="preview")

    .upload-file
      label(for="book")
        span.title Book file
        input(type="button" id="btn" value="Choose")
        span(id="text") No selected file
        input(type="file" id="book")


  a.upload-btn(href='writer2.html')
    span UPLOAD
    i

  .next-note Upload successfully


block right
  .writer2-bg
    a.logo(href='index.html')
      img(src='../assets/images/logo.png')

